@use "@fontsource-utils/scss" as fontsource;
@use "@fontsource-variable/nunito-sans/scss" as NunitoSans;

@include fontsource.faces(
  $metadata: NunitoSans.$metadata,
  $family: "Nunito Sans",
  $subsets: latin,
  // $directory: "@fontsource-variable/nunito-sans/files",
  $axes: all
);
